[defaults]
ask_pass = false
inventory = /home/devops/ex294v1/inventory
remote_user = devops
roles_path = /home/devops/ex294v1/roles:/usr/share/ansible/roles
collections_path = /home/devops/ex294v1/collections:/usr/share/ansible/collections
host_key_checking = false
private_key_file = /home/devops/.ssh/new-controller

[privilege_escalation]
become = true
become_user = root
become_method = sudo
become_ask_pass = false
